<div class="main-container">
  <mat-toolbar>
    <div class="toolbar-left">
      <img src="assets/icons/chat_toolbarlogo.png" alt="KiChat Icon" class="toolbar-icon">
      <span class="toolbar-title">KiChat</span>

    </div>
    <span class="spacer"></span>
    <mat-icon class="user-icon">account_circle</mat-icon>
    <span class="user-name">{{ displayName }}</span>

    <button mat-icon-button class="users-button" aria-label="Show users" (click)="toggleUsersMenu()">
      <mat-icon>people</mat-icon>
    </button>

    <div class="users-menu" *ngIf="showUsersMenu">
      <h6 class="menu-title">Użytkownicy</h6>

      <div class="section">
        <div class="section-title">Online</div>
        <div class="user-item" *ngFor="let user of onlineUsers">{{ user.username }}</div>
      </div>

      <div class="section">
        <div class="section-title">Offline</div>
        <div class="user-item" *ngFor="let user of offlineUsers">{{ user.username }}</div>
      </div>
    </div>

    <button mat-icon-button class="logout-button" aria-label="Logout" (click)="onLogout()">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </mat-toolbar>
  <span class="spacer"></span>
  <div class="grid-container">
      <app-announcements></app-announcements>
    <div class="right-cards">

    </div>
  </div>
</div>
