<div class="main-container">
  <form class="login-form">
    <div class="icon-wrapper">
      <mat-icon >mail</mat-icon>
    </div>
    <h1>Witaj w KiChat</h1>
    <div class="input-group">
      <mat-icon>person</mat-icon>
      <input type="text" placeholder="Nazwa Użytkownika" />
    </div>

    <div class="input-group">
      <mat-icon>lock</mat-icon>
      <input type="password" placeholder="Hasło" />
    </div>

    <button mat-raised-button color="primary" type="submit">Zaloguj się</button>
  </form>
  <footer class="footer">
    © 2025 KiChat
    <img [src]="imagePath" alt="image" class="footer-icon">
  </footer>
</div>
